@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  p {
    @apply text-p;
  }
}

@layer components {
  .btn {
    @apply bg-transparent border-2 border-content text-content block py-3 text-center uppercase cursor-pointer px-6 font-bold tracking-widest font-serif;
    @apply transition hover:border-transparent hover:bg-content hover:text-neutral-100;
  }
}
